<form action="" method="POST">
    <table>
        <tr>
            <td>{%csrf_token %}</td>
            <td>{{ form }}</td>
        </tr>
    </table>
    <input type="submit" value="Submit">
</form>