<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <h1>Welcome!</h1>
    <h1>so far who has visited this page is</h1>
  </head>
  <body>
    
    <table>
      <tr>
        <th>Name</th>
        <th>Age</th>
      {% for visitor in visitors %}
      </tr>
        <td>{{  visitor.name }}</td>
        <td>{{  visitor.age }}</td>
      </tr>
      {% endfor %}
    </tr>
    </table>
  </body>
</html>
